{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col">
            <h2 class="text-center">
                {% if form.instance.pk %}
                تعديل بيانات المستخدم
                {% else %}
                إضافة مستخدم جديد
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.role|as_crispy_field }}
                            </div>
                            <div class="col-md-6" id="governorate-field">
                                {{ form.governorate|as_crispy_field }}
                            </div>
                        </div>
                        {% if not form.instance.pk %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.password1|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.password2|as_crispy_field }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row mt-3">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save"></i>
                                    {% if form.instance.pk %}
                                    حفظ التغييرات
                                    {% else %}
                                    إضافة المستخدم
                                    {% endif %}
                                </button>
                                <a href="{% url 'students:user_list' %}" class="btn btn-secondary">
                                    <i class="fas fa-times"></i> إلغاء
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/user_form.js' %}"></script>
{% endblock %}